[*.{appxmanifest,asax,ascx,aspx,build,cs,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_size=4
tab_width=4
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=lower_camel_case_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.severity=warning
dotnet_naming_rule.event_rule.style=lower_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=m_upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=m_upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=m_upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=m_upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.property_rule.severity=warning
dotnet_naming_rule.property_rule.style=lower_camel_case_style
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.m_upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.m_upper_camel_case_style.required_prefix=m_
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion
# ReSharper properties
resharper_apply_auto_detected_rules=false
resharper_autodetect_indent_settings=true
resharper_csharp_naming_rule.constants=aaBb
resharper_csharp_naming_rule.enum_member=AA_BB
resharper_csharp_naming_rule.private_constants=m_ + AaBb
resharper_csharp_naming_rule.private_static_fields=m_ + AaBb
resharper_csharp_naming_rule.private_static_readonly=m_ + AaBb
resharper_csharp_naming_rule.static_readonly=aaBb
resharper_enforce_line_ending_style=true
resharper_use_indent_from_vs=false
resharper_wrap_lines=true
# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[{*.aar, *.ant, *.appxmanifest, *.axml, *.cscfg, *.csdef, *.disco, *.filelayout, *.fxml, *.jhm, *.jnlp, *.jrxml, *.manifest, *.myapp, *.nuspec, *.plist, *.rng, *.storyboard, *.stylecop, *.svcmap, *.tld, *.tps, *.wadcfgx, *.webref, *.wsdl, *.xib, *.xml, *.xsd, *.xsl, *.xslt, *.xul, StyleCop.Cache}]
ij_xml_align_attributes=true
ij_xml_align_text=false
ij_xml_attribute_wrap=normal
ij_xml_block_comment_at_first_column=true
ij_xml_keep_blank_lines=2
ij_xml_keep_indents_on_empty_lines=false
ij_xml_keep_line_breaks=true
ij_xml_keep_line_breaks_in_text=true
ij_xml_keep_whitespaces=false
ij_xml_keep_whitespaces_around_cdata=preserve
ij_xml_keep_whitespaces_inside_cdata=false
ij_xml_line_comment_at_first_column=true
ij_xml_space_after_tag_name=false
ij_xml_space_around_equals_in_attribute=false
ij_xml_space_inside_empty_tag=false
ij_xml_text_wrap=normal

[{*.har, *.inputactions, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .stylelintrc, bowerrc, jest.config}]
ij_json_keep_blank_lines_in_code=0
ij_json_keep_indents_on_empty_lines=false
ij_json_keep_line_breaks=true
ij_json_space_after_colon=true
ij_json_space_after_comma=true
ij_json_space_before_colon=true
ij_json_space_before_comma=false
ij_json_spaces_within_braces=false
ij_json_spaces_within_brackets=false
ij_json_wrap_long_lines=false